@Html.AntiForgeryToken()
<div id="app" class="app">

</div>
<script src="/lib/tiny/prototype.js"></script>
<script src="/lib/ckeditor/ckeditor.js"></script>
<script src="/js/admin/quanLyBaiHoc.js"></script>
