<html>
    <head>
        <title>Admin's Page</title>
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/admin/main.css"/> 
        <style>
            .example-enter {
                opacity: 0.5;
                transform: translate(200px, 200px) rotate(180deg);
            }

            .example-enter.example-enter-active {
                opacity: 1;
                transform: translate(0, 0) rotate(0);
                transition: all 800ms ease-in-out;
            }

            .example-leave {
                opacity: 1;
                transform: translate(0, 0) rotate(0);
            }

            .example-leave.example-leave-active {
                opacity: 0;
                transform: translate(-200px, -200px) rotate(-180deg);
                transition: all 800ms ease-in-out;
            }
        </style>
    </head>
    <body>
        @Html.AntiForgeryToken()
        <div class="header">
            Admin's Page
        </div>
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-2">
                <div class="list-group">
                    <a href="/Admin/QuanLyBaiHoc" class="list-group-item active">
                        Quản lý bài học
                    </a>
                    <a href="/Admin/QuanLyHocPhi" class="list-group-item">
                        Quản lý học phí
                    </a> 
                    <a href="/Admin/QuanLyToanVuiMoiNgay" class="list-group-item">
                        Quản lý toán vui mỗi ngày
                    </a>  
                </div>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div id="app" class="app"></div>
            </div>
        </div>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/tiny/prototype.js"></script>
        <script src="/lib/ckeditor/ckeditor.js"></script>
        <script src="/js/admin/quanLyBaiHoc.js"></script>
    </body>
</html>


