<div class="nav-menu2">
    <div class="row">
        <div class="hidden-xs hidden-sm">
            <img src="/images/chick.svg" alt="Chick" />
            <img src="/images/pig.svg" alt="Pig" />
            <img src="/images/cat.svg" alt="Cat" />
            <img src="/images/fox.svg" alt="Fox" />
            <img src="/images/tiger.svg" alt="Tiger" />
        </div>
    </div>
</div>