@using Microsoft.AspNetCore.Http;
@model Final.Models.BaiTap
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section myCss {
    <link href="/css/new_input.css" rel="stylesheet" />
    <link href="/css/baitap.css" rel="stylesheet" />
}

<h1 class="hidden">Nội dung bài học</h1>
<!--<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
    <li><a href="@Url.Action("BaiHoc","Home",new {lopId = ViewBag.Lop})">Lớp @ViewBag.LopId</a></li>
    
</ol>-->
<div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
        @if (Context.Session.GetInt32("HocSinh") != null)
        {
            <div class="well">
                <div class="avatar">
                    <img width="64" src="/Images/fox.svg" alt="Avatar" />
                </div>
                <div style="color: red; text-align: center; font-weight: bold; font-size: 125%; margin: 5px 0 5px 0">
                    Trẻ trâu
                </div>
                <div>
                    Hoàn thành
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
                <div>

                </div>
            </div>
        }
        <div>
            <img src="/images/ad/ad.png" class="img-responsive" />
            @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- AdTest -->
                <ins class="adsbygoogle"
                     style="display: block"
                     data-ad-client="ca-pub-5190118737577536"
                     data-ad-slot="7539014809"
                     data-ad-format="auto"></ins>
                <script>
                    google_adtest = 'on';
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>*@
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3 fix1" >
        <div class="container-fluid" id="exerciseBox">
            
        </div>
    </div>
</div>

@section myJs {
    <script src="/js/user/exerciseBox.js"></script>
    <script>
        @{
            var idHocSinh = Context.Session.GetInt32("HocSinhId");
        }
        renderExcerciseBox(@Model.BaiTapId,
            @idHocSinh,
            "exerciseBox");
    </script>
}