@{ Layout = "~/Views/Shared/_Layout.cshtml"; } @section myCss {
<style>
    .introduction-wrapper {

    }
    .text-red {
        color: crimson;
        font-size: 150%;
    }
</style>
}

<div class="modal-content">
        <div class="introduction-wrapper">
            <p>
                Hiện nay có rất nhiều chương trình, phần mềm hoặc các website học tập dành cho các em học sinh. Nhằm nâng cao kiến thức và
                tiết kiệm thời gian học tập mà đạt hiệu quả tốt nhất, chi phí học tập là hợp lý nhất.
            </p>
            <p>
                Phụ huynh có quan tâm tới việc học của con mình không ? “Phụ huynh” có muốn con mình có một môi trường học tập thật tốt và
                không phải bị căng thẳng vây quanh không ? “Phụ huynh” có muốn con mình học tập thật tốt và đạt hiệu quả
                cao nhất không ? Để giúp đỡ ‘’Phụ huynh’’ trong 3 vấn đề này, chúng tôi [tên web] là lựa chọn mà “Phụ huynh”
                các bé có thể tin cậy và tìm đến.
            </p>
            <p>
                Với mục đích nâng cao công việc học cho các bé, chúng tôi [tên web] đã xây dựng một hệ thống học toán trực tuyến dành riêng
                cho các em hệ tiểu học. Website được thiết kế với giao diện thân thiện với các bé, tạo cho các bé có một
                sự hứng thú để học tập cùng với hệ thống bài học đa dạng, những câu hỏi trắc nghiệm cho từng bài học, các
                bé có thể thoải mái học tập với Website của chúng tôi tại mỗi thời điểm. Một vấn đề mà “Phụ huynh” luôn quan
                tâm khi chọn chương trình học tập cho con mình là vấn đề về “học phí”. Website chúng tôi là một chương trình
                đào tạo trực tuyến cho các bé với chi phí học tập hợp lý và khá ưu ái cho các bé. Vì vậy các “Phụ huynh”
                hãy yên tâm và tin tưởng vào chúng tôi, chúng tôi sẽ tạo mọi điều kiện giúp cho các bé học tập và phát triển
                thật tốt.
            </p>
            <p>
                Chân thành cảm ơn Phụ huynh đã quan tâm !
            </p>

            <div class="content">
                <div class="_item_content">
                    <img src="/images/star.png" />
                    <div class="text-conten">
                        <div class="text-red">Dễ dùng - Dễ học</div>
                        <div>Giao diện đẹp mắt, dễ dùng và logic, bài học được bố trí theo mục lục sách giáo khoa nên học sinh
                            dễ dàng tìm được bài mình muốn ôn, học. Con có thể học bất cứ lúc nào, ở đâu, trên bất cứ thiết
                            bị nào.</div>
                    </div>
                </div>
                <div class="_item_content">
                    <img src="/images/star.png" />
                    <div class="text-conten">
                        <div class="text-red">Phù hợp mọi trình độ</div>
                        <div>Với việc chia bài theo cấp độ từ Dễ (1sao) đến Khó (3sao) dễ dàng giúp các con củng cố kiến thức
                            ngay cả khi lực học của con đang hơi yếu.</div>
                    </div>
                </div>
                <div class="_item_content">
                    <img src="/images/star.png" />
                    <div class="text-conten">
                        <div class="text-red">Hiệu quả - thú vị</div>
                        <div>Với cách tương tác mới, các con sẽ biết ngay được kết quả sau mỗi câu và xem đáp án, hướng dẫn giải
                            chi tiết để từ đó hiểu ra vấn đề. Cách học này chắn chắn sẽ khiến con cảm thấy việc học TOÁN
                            KHÔNG KHÓ và RẤT THÚ VỊ.</div>
                    </div>
                </div>
                <div class="_item_content">
                    <img src="/images/star.png" />
                    <div class="text-conten">
                        <div class="text-red">Vừa học - vừa chơi</div>
                        <div>Ngoài việc học, chương trình đố vui TOÁN HỌC có thưởng và thi đấu giúp các con thêm hứng thú thi
                            đua. Việc kết bạn mới để trao đổi cũng giúp con tiến bộ trong học tập</div>
                    </div>
                </div>
                <div class="_item_content">
                    <img src="/images/star.png" />
                    <div class="text-conten">
                        <div class="text-red">Câu hỏi phong phú - đa dạng</div>
                        <div>Thư viện <b class="bold">60.000</b> bài tập <b class="bold text-main">có đáp án và giải thích đúng sai</b>                            được soạn một cách sáng tạo gồm rất nhiều chủ đề và tình huống khác nhau. Thuật toán thông minh
                            giúp các con không phải làm đi làm lại một câu hỏi mà con đã hiểu và làm đúng trước đó.</div>
                    </div>
                </div>
            </div>
</div>
</div>

@section myJs {
<script>

</script>
}