.toanvuimoingay-title {
    color: crimson;
    font-size: 200%;
}

.toanvuimoingay-content {
    text-align: center;
}

.hocmavui-title {
    color: #0b374d;
    font-size: 200%;
}

.hocmavui-content {
    text-align: center;
}

